/* App.module.css */
.appContainer {
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searchBar {
  margin-bottom: 20px;
}

.loadMoreBtn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.errorMessage {
  color: red;
  text-align: center;
}
